.button {
  background: #4dd599;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background: darken(#4dd599, 6%);
  }

  &:active {
    background: darken(#4dd599, 10%);
  }

  &:disabled {
    background: #d8d8d8;
  }
}

.grey {
  background: #f4f6f8;
  color: #444444;

  &:hover {
    background: darken(#f4f6f8, 3%);
  }

  &:active {
    background: darken(#f4f6f8, 6%);
  }
}
