.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.5;

  & div {
    opacity: 0;
  }

  &:hover div {
    opacity: 1;
  }
}

.wrapper {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}
