.popup {
  height: 150px;
  width: 240px;
  background: #ffffff;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 18px;
  box-sizing: border-box;
  position: relative;
  top: -25px;
  left: 10px;
}

.button {
  width: 100%;
  margin-top: 12px;
}

.colors {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.closeBtn {
  position: absolute;
  right: -8px;
  top: -8px;
  cursor: pointer;
}

.badge {
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 2px solid transparent;
}
