.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: lighten(#f4f6f8, 2%);
  border-radius: 6px;
  margin-left: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken(#f4f6f8, 2%);

    img {
      opacity: 0.9;
    }
  }

  img {
    width: 11px;
    height: 11px;
    opacity: 0.4;
  }
}
