.addButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 12px;
  transition: background-color 0.15s ease-in-out;
  opacity: 0.4;

  span {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    white-space: nowrap;
  }

  &:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
  }

  i {
    display: inline-flex;
    margin-right: 8px;

    svg {
      path {
        fill: #7c7c7c;
      }
    }
  }
}
